<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Track : Create</title>
  </head>
  <body>
    <h1 layout:fragment="header">Track : Create</h1>
    <div layout:fragment="content"
        class="container">
      <form id="trackForm"
          th:action="@{/track/(form)}"
          th:object="${track}"
          action="#"
          method="post">
        <div th:if="${#fields.hasErrors('*')}"
            class="alert alert-error">
          <p th:each="error : ${#fields.errors('*')}"
              th:text="${error}">
            Validation error
          </p>
        </div>
        <div class="pull-right">
          <a th:href="@{/track}" href="track.html">
            Tracks
          </a>
          <label for="name">Name</label>
          <input type="text"
                 th:field="*{name}"
                 th:class="${#fields.hasErrors('name')} ? 'field-error'"/>
          <label for="code">Code</label>
          <input type="text"
                 th:field="*{code}"
                 th:class="${#fields.hasErrors('code')} ? 'field-error'"></input>
          <div class="form-actions">
            <input type="submit" value="Create"/>
          </div>          
        </div>
      </form>
    </div>
  </body>
</html>